{{/* DOCUMENTATION
  Module de recherche des événements Vue.js. Utilisé dans la home-page et dans le header (navbar)
  Il sert de point de montage pour l'application Vue.js et inclut les données des événements.
  Lié au script dans assets/js/components/search-modules.js.
*/}}

{{/* Préparation des données pour la recherche d'événements */}}
{{- $eventsData := slice -}}
{{- range(where .Site.RegularPages "Section" "evenements" ) -}}
    {{- $eventsData = $eventsData | append (dict
    "title" .Title
    "url" .RelPermalink
  ) -}}
{{- end -}}
{{- $eventsJSON := $eventsData | jsonify -}}

<div id="app-search-events" data-events='{{ $eventsJSON }}'>
    <input
        type="text"
        v-model="searchEventsInput"
        @keydown.esc="closeSearch"
        @keydown.down.prevent="selectNext"
        @keydown.up.prevent="selectPrevious"
        @keydown.enter.prevent="navigateToSelected"
        placeholder="Rechercher un évenement...(au moins 4 lettres)"
        class="form-control"
        id="qsearch-events"
        autofocus
      />

    <div v-if="searchEventsInput.length >= 4 && filteredEvents.length > 0"
         class="search-results-container"
         ref="resultsContainer">
      <a v-for="(event, index) in filteredEvents"
         :href="event.url"
         :key="event.url"
         :class="{ 'active': index === selectedIndex }"
         ref="resultLinks">
        <div class="searchCard">
          <span class="fs-5">[[ event.title ]]</span>
        </div>
      </a>
    </div>

    <div v-if="searchEventsInput.length >= 4 && filteredEvents.length === 0" class="text-muted mt-3 p-3">
      Aucun événement trouvé correspondant à votre recherche.
    </div>
</div>