{
  "plugins": ["prettier-plugin-go-template", "prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "gohtml"
      }
    },
    { "files": ["*.svelte"], "options": { "parser": "svelte" } }
  ]
}
