@import "tailwindcss";
@plugin "daisyui" {
  themes:
    another --default,
    dark --another-dark;
}
@plugin "@tailwindcss/typography";

@theme {
  --color-lavender: oklch(0.8051 0.0952 298.69);
  --color-lavender-content: oklch(0.415 0.1018 298.69);
  --color-peach: oklch(88% 0.055 45.47);
  --color-cream: oklch(94% 0.035 85.43); /* Cream plus intense - jaune clair */
}

@layer components {
  .prose p {
    @apply leading-snug;
    margin-top: 0.8rem !important;
    margin-bottom: 0.8rem !important;
  }
  .prose li {
    @apply leading-snug;
  }
}

@plugin "daisyui/theme" {
  name: "another-dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(44% 0.017 285.786);
  --color-base-200: oklch(37% 0.013 285.805);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(52.2% 0.208 23.3);
  --color-primary-content: oklch(96% 0.015 12.422);
  --color-secondary: oklch(40.7% 0.098 327.4);
  --color-secondary-content: oklch(97% 0.014 343.198);
  --color-accent: oklch(67.5% 0.302 10.5);
  --color-accent-content: oklch(100% 0.047 25.7);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(90.873% 0.007 51.902);
  --color-info: oklch(58.8% 0.158 241.966);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(59.6% 0.145 163.225);
  --color-success-content: oklch(97% 0.022 166.1);
  --color-warning: oklch(55.5% 0.163 48.998);
  --color-warning-content: oklch(100% 0.02 56.8);
  --color-error: oklch(64.1% 0.222 26.4);
  --color-error-content: oklch(100% 0.03 24.2);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "another";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: oklch(99.4% 0 73.7);
  --color-base-200: oklch(96.5% 0.002 9.5);
  --color-base-300: oklch(94.5% 0.014 9.5);
  --color-base-content: oklch(19.162% 0 0);
  --color-primary: oklch(42.5% 0.161 9.5);
  --color-primary-content: oklch(96% 0.015 12.422);
  --color-secondary: oklch(40.7% 0.161 339.5);
  --color-secondary-content: oklch(97% 0.014 343.198);
  --color-accent: oklch(58.4% 0.248 10.5);
  --color-accent-content: oklch(100% 0.047 25.7);
  --color-neutral: oklch(40% 0.031 9.4);
  --color-neutral-content: oklch(90.873% 0.007 51.902);
  --color-info: oklch(58.8% 0.158 241.966);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(59.6% 0.145 163.225);
  --color-success-content: oklch(97% 0.022 166.1);
  --color-warning: oklch(55.5% 0.163 48.998);
  --color-warning-content: oklch(100% 0.02 56.8);
  --color-error: oklch(51.4% 0.222 26.4);
  --color-error-content: oklch(100% 0.03 24.2);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

:root {
  --color-lavender: oklch(85% 0.06 298.69);
  --color-lavender-content: oklch(20% 0.02 298.69);
}

.custom-select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
}

.cart-icon {
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 14 14'%3e%3cpath fill-rule='evenodd' d='M.625 0a.625.625 0 1 0 0 1.25h1.818l.205 1.94l.644 6.105a1.626 1.626 0 0 0 1.619 1.455h6.208c.746 0 1.397-.506 1.579-1.23l1.253-5a1.626 1.626 0 0 0-1.579-2.02h-8.54L3.627.56A.625.625 0 0 0 3.006 0zm3.91 9.164L3.964 3.75h8.408c.247 0 .425.23.366.466l-1.253 5a.38.38 0 0 1-.366.284H4.911a.376.376 0 0 1-.376-.336m5.72-3.134a.75.75 0 0 0-1.129-.988l-1.48 1.69l-.526-.395a.75.75 0 1 0-.9 1.2l1.083.813a.75.75 0 0 0 1.015-.106zm1.816 6.845a1.125 1.125 0 1 0-2.25 0a1.125 1.125 0 0 0 2.25 0M4.446 11.75a1.125 1.125 0 1 1 0 2.25a1.125 1.125 0 0 1 0-2.25' clip-rule='evenodd'/%3e%3c/svg%3e");
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 14 14'%3e%3cpath fill-rule='evenodd' d='M.625 0a.625.625 0 1 0 0 1.25h1.818l.205 1.94l.644 6.105a1.626 1.626 0 0 0 1.619 1.455h6.208c.746 0 1.397-.506 1.579-1.23l1.253-5a1.626 1.626 0 0 0-1.579-2.02h-8.54L3.627.56A.625.625 0 0 0 3.006 0zm3.91 9.164L3.964 3.75h8.408c.247 0 .425.23.366.466l-1.253 5a.38.38 0 0 1-.366.284H4.911a.376.376 0 0 1-.376-.336m5.72-3.134a.75.75 0 0 0-1.129-.988l-1.48 1.69l-.526-.395a.75.75 0 1 0-.9 1.2l1.083.813a.75.75 0 0 0 1.015-.106zm1.816 6.845a1.125 1.125 0 1 0-2.25 0a1.125 1.125 0 0 0 2.25 0M4.446 11.75a1.125 1.125 0 1 1 0 2.25a1.125 1.125 0 0 1 0-2.25' clip-rule='evenodd'/%3e%3c/svg%3e");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor;
  width: 18px;
  height: 18px;
  display: inline-block;
}

@media print {
  @page {
    size: A4;
    margin: 1cm;
  }

  /* Cache les éléments globaux */
  header,
  footer,
  aside,
  nav,
  .no-print,
  .btn,
  .loading,
  .alert:not(.alert-print) {
    display: none !important;
  }

  body {
    background: white !important;
    color: black !important;
    font-size: 10pt;
    line-height: 1.1;
  }

  .container {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .bg-base-100,
  .bg-base-200,
  .bg-base-300 {
    background-color: white !important;
  }

  /* Forcer les bordures noires pour l'impression NB */
  .card,
  .badge,
  .border,
  .input {
    border-color: lightgrey !important;
    box-shadow: none !important;
  }

  .badge {
    background-color: transparent !important;
    color: black !important;
    border: 1px solid lightgrey !important;
    padding: 0.25rem 0.5rem !important;
  }

  .prose {
    max-width: none !important;
    color: black !important;
    line-height: normal !important;
  }

  .prose :where(p, li, ul, ol) {
    line-height: 1.2 !important;
    margin-top: 0.2rem !important;
    margin-bottom: 0.5rem !important;
    font-size: 10pt !important;
  }

  p,
  li {
    line-height: 1.1 !important;
    margin-top: 0.2rem !important;
    margin-bottom: 0.35rem !important;
  }

  /* Gestion des sauts de page */
  .card,
  tr,
  li,
  p,
  h1,
  h2,
  h3,
  h4 {
    break-inside: avoid;
  }

  .print-break-auto {
    break-inside: auto;
  }

  .page-break-after {
    break-after: always !important;
  }

  .page-break-before {
    break-before: page !important;
    page-break-before: always !important;
  }

  /* Ne pas séparer l'en-tête du début du contenu */
  h1,
  h2,
  h3,
  h4 {
    break-after: avoid;
  }

  .print-only {
    display: block !important;
  }

  * .print-xs {
    font-size: 8pt !important;
  }
}

.print-only {
  display: none;
}
