@import "tailwindcss";
@plugin "daisyui" { themes: another --default, dark --another-dark};

@theme {
  --color-lavender: oklch(0.8051 0.0952 298.69);
  --color-lavender-content: oklch(0.415 0.1018 298.69)
    --color-peach: oklch(88% 0.055 45.47);
  --color-cream: oklch(94% 0.035 85.43); /* Cream plus intense - jaune clair */
}



@plugin "daisyui/theme" {
  name: "another-dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(44% 0.017 285.786);
  --color-base-200: oklch(37% 0.013 285.805);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(52.2% 0.208 23.3);
  --color-primary-content: oklch(96% 0.015 12.422);
  --color-secondary: oklch(40.7% 0.098 327.4);
  --color-secondary-content: oklch(97% 0.014 343.198);
  --color-accent: oklch(67.5% 0.302 10.5);
  --color-accent-content: oklch(100.0% 0.047 25.7);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(90.873% 0.007 51.902);
  --color-info: oklch(58.8% 0.158 241.966);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(59.6% 0.145 163.225);
  --color-success-content: oklch(97.0% 0.022 166.1);
  --color-warning: oklch(55.5% 0.163 48.998);
  --color-warning-content: oklch(100.0% 0.020 56.8);
  --color-error: oklch(64.1% 0.222 26.4);
  --color-error-content: oklch(100.0% 0.030 24.2);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "another";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: oklch(99.4% 0 73.7);
  --color-base-200: oklch(94.7% 0 75.2);
  --color-base-300: oklch(86.5% 0 70.7);
  --color-base-content: oklch(19.162% 0 0);
  --color-primary: oklch(40.723% 0.161 17.53);
  --color-primary-content: oklch(96% 0.015 12.422);
  --color-secondary: oklch(40.7% 0.161 339.5);
  --color-secondary-content: oklch(97% 0.014 343.198);
  --color-accent: oklch(58.4% 0.248 10.5);
  --color-accent-content: oklch(100% 0.047 25.7);
  --color-neutral: oklch(40% 0.031 9.4);
  --color-neutral-content: oklch(90.873% 0.007 51.902);
  --color-info: oklch(58.8% 0.158 241.966);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(59.6% 0.145 163.225);
  --color-success-content: oklch(97% 0.022 166.1);
  --color-warning: oklch(55.5% 0.163 48.998);
  --color-warning-content: oklch(100% 0.02 56.8);
  --color-error: oklch(51.4% 0.222 26.4);
  --color-error-content: oklch(100% 0.03 24.2);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

:root {
  --color-lavender: oklch(85% 0.06 298.69);
  --color-lavender-content: oklch(20% 0.02 298.69);
}

.custom-select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
}
