@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-lavender: oklch(0.8051 0.0952 298.69);
  --color-lavender-content: oklch(0.415 0.1018 298.69)
    --color-peach: oklch(88% 0.055 45.47);
  --color-cream: oklch(94% 0.035 85.43); /* Cream plus intense - jaune clair */
}

@plugin "daisyui/theme" {
  name: "corporatered";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(22.389% 0.031 278.072);
  --color-primary: oklch(44% 0.177 26.899);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(55% 0.046 257.417);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(55% 0.163 48.998);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(27% 0.041 260.031);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(50% 0.118 165.612);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(0% 0 0);
  --color-lavender: oklch(85% 0.06 298.69);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

:root {
  --color-lavender: oklch(85% 0.06 298.69);
  --color-lavender-content: oklch(20% 0.02 298.69);
}

.custom-select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
}
