@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-lavender: oklch(0.8051 0.0952 298.69);
  --color-lavender-content: oklch(0.415 0.1018 298.69)
    --color-peach: oklch(88% 0.055 45.47);
  --color-cream: oklch(94% 0.035 85.43); /* Cream plus intense - jaune clair */
}

@plugin "daisyui/theme" {
  name: "another";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(94.8% 0.006 264.5);
  --color-base-300: oklch(89.1% 0.01 258.3);
  --color-base-content: oklch(22.389% 0.031 278.072);
  --color-primary: oklch(0.46 0.07 208);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(46% 0.07 298);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(46% 0.07 360);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(25.2% 0.149 208);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(58.8% 0.158 241.966);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(59.6% 0.145 163.225);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(55.5% 0.163 48.998);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(51.4% 0.222 16.935);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

:root {
  --color-lavender: oklch(85% 0.06 298.69);
  --color-lavender-content: oklch(20% 0.02 298.69);
}

.custom-select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
}
