{{ $eventPath := .Page.Path }}
{{ $eventSlug := path.Base $eventPath }}
{{ $eventTitle := .Title }}
{{- $here := path.Base (path.Dir .RelPermalink) -}}


{{- $links := slice "menus" "ingredients" "poster" -}}

<div class="no-print">
  <nav id="navbarEvent" class="navbar navbar-expand bg-body-secondary py-1 w-100 fixed-top top nav-pills  justify-content-evenly" style="top: 50px">

        {{- range $links -}}
          {{- $isActive := eq . $here -}}
          {{- $iconPath := printf "fonticons/%s.svg" . -}}
          {{ $link  := ""}}
          {{- if $isActive }} {{- $link = printf "/evenements/%s/%s/%s" $eventSlug $here "#" }} {{- else -}} {{- $link = printf "/evenements/%s/%s/" $eventSlug . }} {{- end }}
          <a href="{{ $link }}" class="nav-link py-1 px-3  {{- if $isActive }} active {{ end -}}"
            >
          <span class="me-2">{{ partialCached "inline-svg" (dict "src" $iconPath "display" "inline-middle" "rem" 2) . "rem2"}}</span>
          <span class="d-none d-md-inline">{{.}}</span></a>
        {{end}}
  </nav>
</div>

<style>

#navbarEvent {
  position: fixed;
  top: (--main-navbar-height, 0px)
  left: 0;
  right: 0;
  z-index: 1025;
  transition: top 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

</style>
