{{- /* hash-event-calculator.html
  Génère un hash MD5 basé sur les données essentielles d'un événement pour détecter les changements
  Utilise ingredient_totals, ingredient_by_date, et allDates pour garantir la cohérence
*/ -}}


{{- $eventData := . -}}

{{- /* Récupérer les données de l'événement depuis différentes sources possibles */ -}}
{{- $ingredient_totals := $eventData.ingredient_totals -}}

{{- $allDates := $eventData.allDates -}}


{{- $ingredient_by_date := $eventData.Params.ingredient_by_date -}}
{{- if not $ingredient_by_date -}}
  {{- $ingredient_by_date = $eventData.ingredient_by_date -}}
{{- end -}}

{{- /* Générer une chaîne stable pour le hash basée UNIQUEMENT sur les données qui affectent le contenu */ -}}
{{- $hashInput := "" -}}
{{- $hashInput = printf "%s|%s" $hashInput ($eventData.Title | string) -}}
{{- $hashInput = printf "%s|%s" $hashInput ($allDates | jsonify) -}}

{{- /* Parcourir tous les ingrédients dans un ordre stable (trié) pour garantir la cohérence */ -}}
{{- range $name, $data := sort $ingredient_totals "name" -}}
  {{- $hashInput = printf "%s|%s|%s" $hashInput $data.uuid $data.name -}}

  {{- /* Inclure UNIQUEMENT les données par date (qui contiennent toutes les informations nécessaires) */ -}}
  {{- $ingByDate := index $ingredient_by_date $data.name | default (dict) -}}
  {{- range $dateTime, $dateData := $ingByDate -}}
    {{- $hashInput = printf "%s|%s" $hashInput $dateTime -}}

    {{- /* totalConsolidated - données calculées essentielles */ -}}
    {{- if gt $dateData.totalConsolidatedWeight 0 -}}
      {{- $hashInput = printf "%s|%.0f|gr." $hashInput $dateData.totalConsolidatedWeight -}}
    {{- end -}}
    {{- if gt $dateData.totalConsolidatedVolume 0 -}}
      {{- $hashInput = printf "%s|%.0f|ml" $hashInput $dateData.totalConsolidatedVolume -}}
    {{- end -}}
    {{- range $unit, $qty := $dateData.totalConsolidatedOther -}}
      {{- $hashInput = printf "%s|%.1f|%s" $hashInput $qty $unit -}}
    {{- end -}}

    {{- /* recipes (contient toutes les infos q, u, qEq, uEq, a) */ -}}
    {{- range $recipe := $dateData.recipes -}}
      {{- $hashInput = printf "%s|%s|%.1f|%s|%.1f|%s|%d" $hashInput $recipe.r $recipe.q $recipe.u $recipe.qEq $recipe.uEq $recipe.a -}}
    {{- end -}}

    {{- $hashInput = printf "%s|%d|%d" $hashInput $dateData.totalAssiettes $dateData.recipeCount -}}
  {{- end -}}
{{- end -}}

{{- /* Calculer et retourner le hash MD5 de la chaîne */ -}}
{{- md5 $hashInput -}}
