{{/*
  ingredients-index

  But: construire un index global des ingrédients (section "ingredients") pour accès rapide.
  Clé primaire: UUID.
  Sortie: dict avec:
    - byUUID: {uuid -> meta}             // primaire
    - byAllergen: {allergene -> [slugs]} // liste des slug_uuid par allergène
  Meta contient: slug, uuid, title, type, allergenes[].
  Usage (exemple):
    {{ $index := partial "functions/ingredients-index" "ingredients-index" }}
    {{ $ing := index $index.byUUID "30973a63" }}
    {{ with $ing }}{{ .title }}{{ end }}
*/}}


{{- $byUUID := dict -}}
{{- $byAllergen := dict -}}

{{- $ingredientsSection := site.GetPage "section" "ingredients" -}}
{{- if $ingredientsSection -}}
  {{- range $ingredientsSection.RegularPages -}}
    {{- $p := . -}}
    {{- $slug := path.Base $p.File.Dir -}}
    {{- $uuid := partial "functions/extract-uuid-from-slug.html" $slug -}}
    {{- if or (not $uuid) (eq $uuid "") -}}
      {{- $uuid = $p.Params.uuid -}}
    {{- end -}}
    {{- $title := $p.Title -}}
    {{- $type := or $p.Params.type "" -}}
    {{- $allergenes := (slice) -}}
    {{- with $p.Params.allergenes -}}
      {{- if reflect.IsSlice . -}}
        {{- $allergenes = . -}}
      {{- else -}}
        {{- /* Si ce n'est pas une liste (None/str/bool/etc.), on force une slice vide */ -}}
        {{- $allergenes = (slice) -}}
      {{- end -}}
    {{- end -}}

    {{- $meta := dict
        "slug" $slug
        "uuid" $uuid
        "title" $title
        "type" $type
        "allergenes" $allergenes
        "pFrais" ($p.Params.pFrais | default false)
        "pSurgel" ($p.Params.pSurgel | default false)
      -}}



    {{- /* byUUID */ -}}
    {{- if and $uuid (ne $uuid "") -}}
      {{- $byUUID = merge $byUUID (dict $uuid $meta) -}}
    {{- end -}}

    <!-- USELESS → les allerges sont déjà dans $meta ! -->
    {{- /* byAllergen: allergene -> [slug] */ -}}
    {{- range $allergenes -}}
      {{- $key := . -}}
      {{- $currentList := index $byAllergen $key | default (slice) -}}
      {{- $newList := slice -}}
      {{- range $currentList -}}
        {{- $newList = $newList | append . -}}
      {{- end -}}
      {{- $newList = $newList | append $slug -}}
      {{- $newList = uniq $newList -}}
      {{- $byAllergen = merge $byAllergen (dict $key $newList) -}}
    {{- end -}}

  {{- end -}}
{{- end -}}

{{- return (dict "byUUID" $byUUID "byAllergen" $byAllergen) -}}
