{{/*
  recettes-index

  But: construire un index global des recettes (section "recettes") pour accès rapide.
  Clé primaire: UUID.
  Cet index est optimisé pour contenir toutes les données nécessaires aux templates,
  afin d'éviter les appels répétés à site.GetPage et d'améliorer les performances.

  Sortie: dict avec:
    - byUUIDRecette: {uuid -> meta}           // primaire
    - bySlugRecette: {slugUuid -> meta}       // alias pour compatibilité
  Meta contient: permalink, uuid, slugUuid, title, type, categories[],
                 ingredients[], plate, check, checkfor, checkAlwaysOk,
                 spécialité, materiel[], preparation, preparation24h,
                 quantite_desc, astuces[], commentaire, regime[], region, saison[].

  Usage:
    {{ $index := partial "functions/recettes-index"  "recettes-index-global" }}
    {{ $byUUID := $index.byUUIDRecette }}
    {{ $bySlug := $index.bySlugRecette }}
    {{ with (index $byUUID "cjf5v7d3") }}
      <a href="{{ .permalink }}">{{ .title }}</a>
      {{ range .ingredients }}
        {{ .ingredient }} - {{ .quantite }} {{ .unit }}
      {{ end }}
    {{ end }}
*/}}


{{- $byUUIDRecette := dict -}}

{{/* Itérer sur les pages de recettes pour construire l'index */}}
{{- $recettesPages := where site.RegularPages "Section" "recettes" -}}
{{- range $recettesPages -}}
  {{- $p := . -}}
  {{- /* Le slug est le nom du dossier parent (ex: "ma-recette_uuid") */}}
  {{- $slugUuid := path.Base $p.File.Dir -}}
  {{- $uuid := partial "functions/extract-uuid-from-slug.html" $slugUuid -}}


  {{- if and $uuid (ne $uuid "") -}}
    {{- $title := $p.Title -}}
    {{- $type := or $p.Params.type "" -}}
    {{- $permalink := $p.Permalink -}}

    {{- $categories := (slice) -}}
    {{- with $p.Params.categories -}}
      {{- if reflect.IsSlice . -}}
        {{- $categories = . -}}
      {{- end -}}
    {{- end -}}

    {{- $ingredients := (slice) -}}
    {{- with $p.Params.ingredients -}}
      {{- if reflect.IsSlice . -}}
        {{- $ingredients = . -}}
      {{- end -}}
    {{- end -}}

    {{- $materiel := (slice) -}}
    {{- with $p.Params.materiel -}}
      {{- if reflect.IsSlice . -}}
        {{- $materiel = . -}}
      {{- end -}}
    {{- end -}}

    {{- $astuces := (slice) -}}
    {{- with $p.Params.astuces -}}
      {{- if reflect.IsSlice . -}}
        {{- $astuces = . -}}
      {{- end -}}
    {{- end -}}

    {{- $regime := (slice) -}}
    {{- with $p.Params.regime -}}
      {{- if reflect.IsSlice . -}}
        {{- $regime = . -}}
      {{- end -}}
    {{- end -}}

    {{- $saison := (slice) -}}
    {{- with $p.Params.saison -}}
      {{- if reflect.IsSlice . -}}
        {{- $saison = . -}}
      {{- end -}}
    {{- end -}}

    {{- $prepAlt := (slice) -}}
    {{- with $p.Params.prepAlt -}}
      {{- if reflect.IsSlice . -}}
        {{- $prepAlt = . -}}
      {{- end -}}
    {{- end -}}

    {{- $temperature := or $p.Params.temperature "" -}}
    {{- $cuisson := or $p.Params.cuisson "Non" -}}

    {{- $meta := dict
        "permalink" $permalink
        "uuid" $uuid
        "slugUuid" $slugUuid
        "title" $title
        "type" $type
        "categories" $categories
        "ingredients" $ingredients
        "plate" (or $p.Params.plate 0)
        "check" (or $p.Params.check "Non")
        "checkfor" (or $p.Params.checkfor 0)
        "checkAlwaysOk" (or $p.Params.checkAlwaysOk false)
        "spécialité" (or $p.Params.spécialité "")
        "materiel" $materiel
        "preparation" (or $p.Params.preparation "")
        "preparation24h" (or $p.Params.preparation24h "")
        "quantite_desc" (or $p.Params.quantite_desc "")
        "astuces" $astuces
        "commentaire" (or $p.Params.commentaire "")
        "regime" $regime
        "region" (or $p.Params.region "")
        "saison" $saison
        "prepAlt" $prepAlt
        "temperature" $temperature
        "cuisson" $cuisson
      -}}

    {{- /* Index par UUID (clé primaire) */}}
    {{- $byUUIDRecette = merge $byUUIDRecette (dict $uuid $meta) -}}


  {{- end -}}
{{- end -}}

{{- return (dict "byUUIDRecette" $byUUIDRecette) -}}
