{{ $unit := .unit }}
{{ $ingredient := .ingredient }}
{{ $quantiteRecette := .quantite }}

{{ if strings.Contains $unit "café" }}
  {{ if eq ($ingredient | lower) (and ("sucre") ("sel"))  }}
    ( ~ {{ mul $quantiteRecette 5  | math.Round }} {{ printf "gr."}})
  {{ else if eq ($ingredient | lower) (and ("farine") ("semoule"))  }}
    ( ~ {{ mul $quantiteRecette 4  | math.Round }} {{ printf "gr."}})
  {{ else if eq ($ingredient | lower) (and ("poivre") ("cacao") ("sucre glace") ("maïzena"))  }}
    ( ~ {{ mul $quantiteRecette 3  | math.Round }} {{ printf "gr."}})
  {{ else if strings.Contains ($ingredient | lower) "huile"  }}
    ( ~ {{ mul $quantiteRecette 5  | math.Round }} {{ printf "ml."}})
  {{ else if strings.Contains ($ingredient | lower) "crème épaisse"  }}
    ( ~ {{ mul $quantiteRecette 6.6  | math.Round }} {{ printf "ml."}})
  {{ else if strings.Contains ($ingredient | lower) "bicarbonate"  }}
    ( ~ {{ mul $quantiteRecette 6  | math.Round }} {{ printf "gr."}})
  {{ else if eq ($ingredient | lower) (and ("curcuma") ("curry") ("paprika") )  }}
    ( ~ {{ mul $quantiteRecette 1.3  | math.Round }} {{ printf "gr."}})
{{ end }}

{{ else if strings.Contains $unit "soupe" }}
  {{ if eq ($ingredient | lower) (and ("sucre") ("sel"))  }}
    ( ~ {{ mul $quantiteRecette 15  | math.Round }} {{ printf "gr."}})
  {{ else if eq ($ingredient | lower) (and ("farine") ("semoule"))  }}
    ( ~ {{ mul $quantiteRecette 12  | math.Round }} {{ printf "gr."}})
  {{ else if eq ($ingredient | lower) (and ("poivre") ("cacao") ("sucre glace") ("maïzena"))  }}
    ( ~ {{ mul $quantiteRecette 9  | math.Round }} {{ printf "gr."}})
  {{ else if strings.Contains ($ingredient | lower) "huile"  }}
    ( ~ {{ mul $quantiteRecette 15  | math.Round }} {{ printf "ml."}})
  {{ else if strings.Contains ($ingredient | lower) "crème épaisse"  }}
    ( ~ entre {{ mul $quantiteRecette 15  | math.Round }} et {{ mul $quantiteRecette 20  | math.Round }} {{ printf "ml."}})
  {{ else if strings.Contains ($ingredient | lower) "bicarbonate"  }}
    ( ~ {{ mul $quantiteRecette 18  | math.Round }} {{ printf "gr."}})
  {{ else if eq ($ingredient | lower) (and ("curcuma") ("curry") ("paprika") )  }}
    ( ~ {{ mul $quantiteRecette 4  | math.Round }} {{ printf "gr."}})
{{ end }}

{{ else if and (strings.Contains .unit "unité") (eq ($ingredient | lower) "ail") }}
  ( ~ entre {{ mul $quantiteRecette 5  | math.Round }} et {{ mul $quantiteRecette 8  | math.Round }} {{ printf "gr."}})    
{{ end }}