{{ define "main" }}
<section class="main-content">
  <h2 class="page-title">{{ .Title }}</h2>
  <div class="card-container">
    <div class="card card-body">
      <a href="menus" class="card-link">
        <h3 class="card-title">Menus et Recettes</h3>
        <p class="card-description">
          Explorez toutes les recettes de l'événement.
        </p>
      </a>
    </div>
    <div class="card card-body">
      <a href="svelte" class="card-link">
        <h3 class="card-title">Ingrédients</h3>
        <p class="card-description">
          Consultez la liste complète des ingrédients.
        </p>
      </a>
    </div>
    <div class="card card-body">
      <a href="poster" class="card-link">
        <h3 class="card-title">Posters</h3>
        <p class="card-description">Les affiches des menus.</p>
      </a>
    </div>
  </div>
</section>
{{ end }}
