{{/*  DOCUMENTATION
  La base qui définie la façon dont sont construite chacune des pages.
*/}}

<!doctype html>
<html lang="{{ .Site.LanguageCode | default "fr" }}">
  {{ partialCached "head/head.html" . .RelPermalink }}

  {{/*  Creer un espace au dessus de la navbar en rajoutant la class "section" à body. Mais de maniere générale définit des layout en fonction du type de page... from hyas*/}}
  {{/*  {{- partial "head/body-class.html" . -}}
   <body class="{{ delimit (.Scratch.Get "class") " " }}">   */}}

  <body>

  {{/* partialCached "header/header.html" . "header" */}}
  <div id="svelte-header"></div>


    <div class="wrap container" role="document">
      <div class="content">
        {{ block "main" . }}{{ end }}
      </div>
    </div>

  {{ block "sidebar-footer" . }}{{ end }}
  {{ partial "footer/footer.html" . "footer" }}
  {{ partial "footer/script-footer.html" .  .Section }}



  </body>
</html>
